[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/automata-dcap-attestation"]
	path = lib/automata-dcap-attestation
	url = https://github.com/EspressoSystems/automata-dcap-attestation
